<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}
#t01 {
  width: 100%;    
  background-color: #1a8cff;
}
</style>
</head>
<body>

<h2>Historial:</h2>
 {% block title %}Historial pedido{% endblock %}
 {% block content %}
 {% if numLineas <= 10 %}
<table id="t01">
  <tr>
    <th>Fecha y hora</th> 
	<th>Temperatura (°C)</th>
  </tr>
  <tr>
	{% macro fecha(indice) -%}
		{{fechas[indice]}}
	{%- endmacro %}
	{% set i=[]%}
	{% for temp in temps %}
		<tr>		
			<td>
				<span class="my-handle"></span>
				<input type="hidden" name="handles[]" value="{{fecha(i|length)}}"/> {{fecha(i|length)}}
			</td><td>			
				<input type="hidden" name="handles[]" value="{{temp}}"/> {{temp}}				
			</td>
		</tr>		
		{% if i.append(1) %}{% endif %} 
		
	{% endfor %} 
	
	</tr>
  {% else %}
	<p> Tocaria dejar link para descargar archivo... </p>
	<a href="/download" class="button" download="archivoHistorial.txt">Descargar archivo</a> 
  {% endif %} 
 {% endblock %}
  
</table>
<a href="/" class="button">Volver</a> 
</body>
</html>