<!DOCTYPE html>
   <head>
	  <title>Obligatorio Embebidos</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">	
	</head>
   <body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<div class="jumbotron text-center">
			<h1>Obligatorio 1 Embebidos</h1>
			<p>Realizado por: Julián Ferreira y Marcelo Hernandez</p>
		</div>

		<div class="container-fluid text-center p-3 my-3">
			<h2> Estados </h2>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-4 text-center">
					<h3>Estado de LED</h3>
					{% if led==1 %}
						<p>Encendido</p>
					{% else %}
						<p>Apagado</p>
					{% endif %}
				</div>
				<div class="col-sm-4 text-center">
					<h3>Temperatura</h3>
					<p>{{ valorT }}</p>
				</div>
				<div class="col-sm-4 text-center">
					<h3>Estado Alarma</h3>
					<p>{{ estadoAlarma }}</p>
				</div>
			</div>
		</div>
		   
		<br>
			<div class="container-fluid p-3 my-3 text-center">
				<h4>  
					<a class="btn btn-primary" href="/" role="button">Refrescar valores!</a>  
				</h4>
			</div>
		<br>

		<div class="container-fluid p-3 my-3 text-center">
			<h2> Actuadores </h2>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-3 text-center">
					<h3>CONTROL DE LED:</h3>
					<p><a class="btn btn-primary" href="/led/on" role="button">Encender</a></p>
					<p><a class="btn btn-primary" href="/led/off" role="button">Apagar</a></p>
				</div>
				<div class="col-sm-3 text-center">
					<h3>PARAMETROS CONFIGURABLES:</h3>
					<p><a class="btn btn-primary" href="/envioParametros" role="button">Ingreso de parametros</a></p>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-primary alert-dismissible fade show" role="alert">
									<span>{{ message }}</span>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</div>
				<div class="col-sm-3 text-center">
					<h3>HISTORIA DE TEMPERATURAS:</h3>
					<p><a class="btn btn-primary" href="/historial" role="button">Ingreso de tiempos</a> </p>
				</div>
				<div class="col-sm-3 text-center">
					<h3>Alarma</h3>
					<p><a class="btn btn-primary" href="/alarma/on" role="button">Prender Alarma</a></p>
					<p><a class="btn btn-primary" href="/alarma/off" role="button">Apagar Alarma</a></p>
				</div>
			</div>
		</div>
		
		
   </body>
</html>
