<!DOCTYPE html>

<head>
    <title>Parametros Configurables</title>
    <link rel="stylesheet" href='../static/style.css'/>
 </head>

 {% block title %}Parametros Configurables{% endblock %}
 {% block content %}
     <form action="" method="post">
         <label for="TL">Temperatura Baja: </label>
         <input type="int" id="TL" name="TL" /><br>
         <label for="TH">Temperatura Alta: </label>
         <input type="int" id="TH" name="TH" /><br>
         <label for="ts">Tiempo entre medidas: </label>
         <input type="float" id="ts" name="ts" /><br>
         <label for="destino">Destinatario de la alarma: </label>
         <input type="string" id="destino" name="destino" /><br>
         <label for="tA">Tiempo Alarma: </label>
         <input type="int" id="tA" name="tA" /><br>
         <label for="Rt">Valor de resistencia: </label>
         <input type="int" id="Rt" name="Rt" /><br>
         <label for="Ct">Valor de capacitancia: </label>
         <input type="int" id="Ct" name="Ct" /><br>
         <input type="submit" id="send-signup" name="signup" value="Registrar" />
     </form>
 {% endblock %}
